@tailwind base;
@tailwind components;
@tailwind utilities;

.herobg {
  background-image: linear-gradient(rgba(54, 54, 54, 0.5), rgba(74, 74, 245, 0.5)), url("./assets/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}
.foobg {
  background-image: linear-gradient(rgba(108, 108, 108, 0.5), rgba(4, 4, 52, 0.5)), url("./assets/footerbg.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}
